html{
	padding: 3%;
}

.why {
	padding: 12px;

}
.hobbies {
	margin: 16px;
 	border: 3px solid navy;
  padding: 6px;
	background-color: gold;
	float: bottom;
	padding-right: 5%;
	border-style: dotted;
}
img {
	padding: 0%;
}
.caption {
 color: navy;
}
.span {
	color: green;
}
.me {
	font-family: fantasy;
	font-variant: normal;
}
.column1{
	float: auto;
	padding-left: 1%;
}
